.container_full_screen {
  max-width: none;
}
.container {
}
.title {
}
.subtitle {
}
.text {
}
.link {
}
.video {
  width: auto;
}
.col_4_text_center {
  text-align: center;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.row {
  width: 100%;
  margin: 0px !important;
}
.bad_apple {
}
